.filters {
  margin-bottom: 28px;
}

.filters_topic {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters_filter-item {
  cursor: pointer;
}

.filters_filter-item--active {
  color: $blue;
}
