.article-preview {
  width: calc(100% / 3);
  margin-bottom: 48px;
  padding: 0 $article-prev-h-paddings;
}

.article-preview_img {
  margin-bottom: 24px;
  padding-bottom: 56.25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article-preview_info {
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}

.article-preview_date,
.article-preview_author,
.article-preview_source-link {
  display: inline-block;
  margin-bottom: 9px;
}

.article-preview_date,
.article-preview_author {
  padding-right: 16px;
}

.article-preview_author {
  text-transform: capitalize;
}

.article-preview_read-more-btn {
  @include button-blue;

  width: 100%;
}

.article-preview_source-btn {
  @include button-blue-big;
}

.article-preview--details-page {
  width: auto;
  padding: 0;

  .article-preview_content {
    margin: 0 auto;
    max-width: 600px;
  }

  .article-preview_img {
    margin-bottom: 32px;
    padding: 0;
  }
}
